[tool.poetry]
name = "binance-history"
version = "0.1.0"
description = ""
authors = ["Meng Xiangzhuo <aumo@foxmail.com>"]
readme = "README.md"
packages = [{ include = "binance_history" }]

[tool.poetry.dependencies]
python = "^3.11"
pendulum = "^2.1.2"


[tool.poetry.group.test.dependencies]
pytest = "^7.2.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
